@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}